
# Base de données PostgreSQL
DATABASE_URL=postgresql://utilisateur:motdepasse@localhost:5432/taskmanager

# Clé secrète JWT (mets une longue chaîne aléatoire)
SECRET_KEY=SECRET_KEY=a_changer

# Algorithme JWT
ALGORITHM=HS256

# Durée de vie du token en minutes
ACCESS_TOKEN_EXPIRE_MINUTES=60
