
# Base de données PostgreSQL
DATABASE_URL=

# Clé secrète JWT (mets une longue chaîne aléatoire)
SECRET_KEY=

# Algorithme JWT
ALGORITHM=HS256

# Durée de vie du token en minutes
ACCESS_TOKEN_EXPIRE_MINUTES=60
